body{
    background-color: lightgray;
}

nav{background-color: gray;}
li{
    display: inline-block;
    background-color: gray;
    margin: 2px;
    padding: 10px;
    font-weight: bold;
    
}

h1{
    background-color: blueviolet;
    color: white;
    width: 100%;
}

p.principal{
    color: red;
    font-size: 30px;
    font-family: tahoma;
    font-weight: bold;
}

.form{
    
}